/* CSS Document */

a:link { 

color: #ffff00; 

text-decoration: none; 

} 

a:visited { 

text-decoration: none; 

color: #ffff00; 

}

.bodyText {

	font-family: Verdana, Helvetica, Arial;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #FFFFFF;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

}

.bodyTextYellow {

	font-family: Verdana, Helvetica, Arial;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #ffff00;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

}

.bodyTextBold {

	font-family: Verdana, Helvetica, Arial;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #FFFFFF;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

}

.bodyTextItalic {

	font-family: Verdana, Helvetica, Arial;

	font-size: 10px;

	font-style: italic;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #0080FF;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

}

.bodyTextTitle {

	font-family: Verdana, Helvetica, Arial;

	font-size: 14px;

	font-style: normal;

	line-height: normal;

	font-weight: bold;

	font-variant: normal;

	color: #FFFFFF;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

}

.bodyTextUppercase {

	font-family: Verdana, Helvetica, Arial;

	font-size: 10px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #FFFFFF;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

	text-transform: uppercase;

}

.bodyTextCaption {

	font-family: Verdana, Helvetica, Arial;

	font-size: 9px;

	font-style: normal;

	line-height: normal;

	font-weight: normal;

	font-variant: normal;

	color: #FFFFFF;

	text-decoration: none;

	text-align: left;

	letter-spacing: normal;

	word-spacing: 1px;

}

.headline {

	font-family: Verdana, Helvetica, Arial;

	font-size: 14px;

	font-weight: bold;

}



